<form class="m-editor" id="meme-editor-view">

  <h2><label for="title">Title</label></h2>
  <input id="title" name="title" type="text" value=""></textarea>

  <h2><label for="description">Description</label></h2>
  <textarea id="description" name="description" value=""></textarea>

  <select class="watermark" id="watermark">
    <option value="" disabled>Select a theme</option>
  </select>
</form>

